<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly"
    package="pt.personaltrainer">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/slimstaricon"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@drawable/slimstaricon"
        android:supportsRtl="true"
        android:description="@string/applicationDescription"
        android:theme="@style/AppTheme">


         <activity
            android:name=".MainActivity"
             android:persistent="true"
             android:screenOrientation="portrait"
             android:label="@string/lable"
             android:theme="@style/AppTheme.NoActionBar">
           </activity>

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
           </activity>

        <activity
            android:name=".SettingsHelper"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>


        <activity
            android:name=".CardDetails"
            android:screenOrientation="portrait"
            android:label="@string/lable"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <receiver
            android:name=".AlarmHelper"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>